.body_left p {line-height:1.6;}
.body_left h1,h2,h3{line-height:1.1}

.CVBlock {
	display:block;
	border-top: 2px solid #dedede;
	padding-top: 15px;
}

.CVBlock:first-child {
	border-top: 0;
}

.CVBlock:last-child {
	padding-top: 20px;
}

.CVTitles {
	float: left;
	width: 21%;
}

.SecondaryInformation {
	font-size: 12px;
	font-style: italic;
}

.Skills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 26px;
	font-size: 13px;
	color: #1B1B1B;
}

.MainImage {
    float: left;
    margin: 25px;
}

.mainheader #top-menu {
    position: relative;
    float: right;
    font-size: 14px;
    margin-top: 30px;
    text-shadow: -2px -1px 6px black;
}

.mainheader #top-menu li {
    position: relative;
    float: left;
    margin-left: 31px;
}

.mainheader #top-menu li a {
    display: block;
    text-decoration: none;
    color: #b3b3b3;
}

.mainheader #top-menu li a:hover {
    color: #;
}

.mainheader {
    width: 656px;
    margin: auto;
    position: relative;
}

#ThemainheaderRapper {

    position: absolute;
    top: 0;
    overflow: hidden;
    min-width: 801px;
    width: 99%;
    background-color: #737373;
}

body {
    background-color: #718EA4;
    font-size: 13px;
    font-family: verdana,arial,sans-serif;
    color: #222;
    margin: 0 5px 40px;
    font-family: Verdana;
}

h1,p,h2 {
    font-family: Verdana;
}

img {
    border: 2px;
    border-style: solid;
}

ul {
    list-style-position: ;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

/* Images -------------------------------------------------------------- */
.news_img {
    margin: 22px auto;
    border: 1px solid #1a1a1a;
    display: block;

}

/* Body*/
/* Not mobile friendly, rip */

.H2_Personal {
	text-align: center;
	margin: 0 0 16px 0 !important; padding: 0 0 16px 0; font-weight: bold; letter-spacing: -1px;
    text-shadow: 1px 1px 1px black;
}

.rapper {
    margin: 145px auto 0;
    text-align: left;
    width: 90%;
}

.body_left {

    float: centre;
    width: fixed;
}



.body_border {

    background-color: #EEEEEE;
    padding: 7px;
    position: relative;
}

.body_border1 {
    border: #042037 2px solid;
    padding: 7px;
}

/* News -------------------------------------------------------------- */
.news_paddin {
    padding: 10px;
}

.news_archives {
    background-color: #EBEBDA;
    padding: 6px;
    text-align: center;
}

.news_title_paddin {
    background-color: #496D89;
    height: 12px;
}

/* Menu -------------------------------------------------------------- */
.menu_mm {
    background-color: #496D89;
    font-size: 14px;
    font-family: verdana,arial,sans-serif;
    color: #fff;
    font-weight: 700;
    padding: 7px;
    margin: 0;
}

.menu_mmnn {
    font-size: 13px;
    font-family: verdana,arial,sans-serif;
    color: #232323;
    background-color: #D4DDE4;
    padding: 2px 2px 2px 8px;
    margin-bottom: 5px;
}

.menu_text_list li {
    list-style: square outside;
    color: #9b9787;
    margin: 0 0 0 18px;
    padding: 0;
}

.menu_padding {
    padding: 4px;
}
